@attribute [Observer]
@inject AppStore appStore

<Layout Sider="true">
    <LayoutSider>
        <LayoutSiderContent>
            <Observer>
                <p style="color:yellow">Current ! time: @appStore?.CurrentTime</p>
            </Observer>
            <LeftBar />
        </LayoutSiderContent>
    </LayoutSider>
    <Layout>
        <LayoutHeader Fixed="true">
            <TopBar />
        </LayoutHeader>
        <LayoutContent Padding="Padding.Is4">
            @Body
        </LayoutContent>
    </Layout>
</Layout>


@code {
    [Parameter]
    public RenderFragment? Body { get; set; }
}
